h1 {
	font-family: Arial;
	text-align: center;
}
h2 {
	border: 1px solid black;
	font-family: Arial;
	margin-top: 0px; 
	position: absolute;
	
}

p {
	margin-top: 35px;
	font-family: Arial;
	padding: 10px;
	height: 250px;
}

